.App {
  background-color: #FFFFFF;
  color: #282c34;
  font-size: 14px;
  position: relative;
}

.App-logo {
  height: 40vh;
}

.leba {
  align-self: center;
  border-radius: 15px;
  margin-right: 2vw;
}

#content {
  margin-bottom: 6vh;
  height: 100%;
}

#main-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header-root {
  width: 100vw;
  color: rgb(43,43,43);
  background-color: #fdfbfb;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#footer-root {
  height: 6vh; /* 10vh */
  width: 100vw;
  bottom: 0;
  position: fixed;
  background-color: #282c34;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Media Queries for header */

/* Desktop Style */
@media all and (min-width: 700px) {
  #header-root {
    height: 16vh;
  }
  #header-title{
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
  }
  .header-text {
    font-size: 1.25rem;
    margin: 0 3vw 1vh 3vw;
  }
  #media-wrapper {
    height: 16vh;
    padding-left: 4vw;
  }
  .media-img {
    height: 3.5vh;
    margin: 0 5vw 0 5vw;
  }
  .media-img:hover {
    height: 4.5vh;
  }
  #content {
    /* margin-top: 14vh; */
  }
}

/* Mobile Style */
@media all and (max-width: 700px) {
  #header-root {
    height: 12vh;
  }
  #header-title {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
  }
  .header-text {
    font-size: 1rem;
    margin: 0 3vw 0 3vw;
  }
  #media-wrapper {
    height: 12vh;
    padding-left: 5vw;
  }
  .media-img {
    height: 2vh;
    margin: 0 5vw 0 5vw;
  }
  .media-img:hover {
    height: 3.5vh;
  }
  #content {
    /* margin-top: 12vh; */
  }
}

#media-wrapper {
  display: flex;
  width: 7vw;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  flex-direction: column;
  align-items: flex-end;
}


#header-content-wrapper {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#header-left {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

#header-right {
  display: flex;
  flex-direction: column;
}

#landing-wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 5vh;
  align-content: center;
}

#landing-header {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-around;
  padding: 3vh 0 0 2vw;
}

#landing-content {
  padding: 0 5vw 0 5vw;
}

.footer-img {
  height: 3.5vh;
  margin: 0 5vw 0 5vw;
  fill: "#000000";
}

.footer-img:hover {
  height: 4.5vh;
  fill:"#ffffff";
}

#footer-wrapper {
  display: flex;
  flex-direction: row;
}

.section-wrapper {
  height: 100vh;
  padding: 0 7vw 0 7vw;
  display: flex;
  flex-direction: column;
}

#article-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#section-header-text {
  font-size: 3rem;
}

#story-wrapper {
  display: flex;
  background: tomato;
  flex-direction: column;
  width: 25vw;
  height: 20vh;
  margin: 1.5vh 3vw 1.5vh 0;
  justify-content: space-around;
}
