.App {
  background-color: #FFFFFF;
  color: #282c34;
  font-size: 14px;
  position: relative;
}

.App-logo {
  height: 40vh;
}

.leba {
  align-self: center;
  border-radius: 15px;
  margin-right: 2vw;
}

#content {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#main-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header-root {
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #282c34;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-root {
  height: 10vh;
  width: 100vw;
  bottom: 0;
  position: fixed;
  background-color: #282c34;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#header-left {
  margin-left: 3vw;
  font-size: 2rem;
  color: #ffffff;
}
#header-right {
  margin-right: 2vw;
  display: flex;
  flex-direction: row;
}

.header-text {
  color: #ffffff;
  font-size: 1rem;
  margin: 0 3vw 0 3vw;
}

#landing-wrapper {
  display: flex;
  flex-direction: column;

  overflow: scroll;
  padding-bottom: 5vh;
  align-content: center;
}

#landing-header {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-around;
  padding: 3vh 0 0 2vw;
}

#landing-content {
  padding: 0 5vw 0 5vw;
}

.footer-img {
  height: 3.5vh;
  margin: 0 5vw 0 5vw;
  fill: "#000000";
}

.footer-img:hover {
  height: 4.5vh;
  fill:"#ffffff";
}

#footer-wrapper {
  display: flex;
  flex-direction: row;
}
